body{
    margin: 0%;
}


/* TEMPORARY COLORS */
#sidenav {
    background-color: coral;
}
#log {
    background-color: aquamarine;
}
#gameleft {
    background-color: red;
}
#gameRight {
    background-color: red;
}
#top {
    background-color: green;
}
#middle {
    background-color: blue;
}
#bottom {
    background-color: green;
}
#leftName {
    background-color: brown;
}
#leftCards {
    background-color: yellow;
}
#leftCC {
    background-color: blue;
}
#leftCardsN {
    background-color: orange;
}
#leftCreepers {
    background-color: black;
}
#leftKeepers {
    background-color: blueviolet;
}
#topName {
    background-color: yellow;
}
#topCC {
    background-color: violet;
}
#topCardsN {
    background-color: brown;
}
#topCreepers {
    background-color: black;
}
#topKeepers {
    background-color: red;
}
#ddg {
    background-color: chartreuse;
}
#discard {
    background-color: black;
}
#deck {
    background-color: red;
}
#goal {
    background-color: grey;
}
#rules {
    background-color: blueviolet;
}
#bottomKeepers {
    background-color: red;
}
#bottomCC {
    background-color: grey;
}
#bottomCardsN {
    background-color: purple;
}
#bottomCreepers {
    background-color: black;
}
#playsLeft {
    background-color: blue;
}
#rightName {
    background-color: green;
}
#rightCards {
    background-color: blue;
}
#rightKeepers {
    background-color: purple;
}
#rightCC {
    background-color: yellow;
}
#rightCreepers {
    background-color: black;
}
#rightCardsN {
    background-color: orange;
}
#hand {
    background-color: black;
}
#bLeft {
    background-color: grey;
}
#bRight {
    background-color: grey;
}
#handCards {
    background-color: yellow;
}
#chat {
    background-color: yellowgreen;
}
#log {
    background-color: aquamarine;
}
#log {
    background-color: aquamarine;
}
#log {
    background-color: aquamarine;
}
#log {
    background-color: aquamarine;
}
#log {
    background-color: aquamarine;
}
#log {
    background-color: aquamarine;
}
#log {
    background-color: aquamarine;
}