/* DIMENSIONS */
img {
    height: 100px;
    margin: 5px;
}
body {
    font-size: 1.5em;
    text-align: center;
}


/* FLEX, MARGINS AND HEIGHTS */
html {
    min-height: 100%;
    height: 100%;
}
body{
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    min-height: 100%;
}
#left {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}
#center {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}
#right {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}
#sidenav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 21%;
    justify-content: space-evenly;
}
#log {
    flex-basis: 79%;
}
#game {
    display: flex;
    flex-direction: row;
    flex-basis: 86%;
}
#gameLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: center;
}
#leftCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#leftCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}
#leftCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 77.5px;
    height: 330px;
}
#leftKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    width: 155px;
    justify-content: center;
}
#gameCenter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: center;
}
#top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#topCC {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#topCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 110px;
}
#topKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 110px;
}
#middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
}
#ddg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 110px;
}
#rules {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 110px;
}
#bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#bottomKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 110px;
}
#bottomCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 110px;
}
#bottomCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#bottomName, #playsLeft {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5%;
}
#gameRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: center;
}
#rightCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#rightKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    width: 155px;
    justify-content: center;
}
#rightCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}
#rightCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 77.5px;
    height: 330px;
}
#hand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 14%;
    justify-content: space-between;
}
#handCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#chat {
    flex-basis: 100%;
}
#void {
    padding-left: 50px;
}
#leftName, #rightName, #leftCardsN, #rightCardsN{
    padding: 1%;
    padding-bottom: 0%;
}
#topCardsN {
    display: flex;
    align-items: center;
    height: 110px;
    margin-right: 2%;
}
#bRight, #bLeft {
    display: flex;
    align-items: center;
    padding: 2%;
}

/* TEMPORARY COLORS */
body {
    background-color: ivory;
}
#hand {
    background-color: lightblue;
}
#sidenav {
    background-color: coral;
}
#log {
    background-color: pink;
}
#chat {
    background-color: yellowgreen;
}
/* #gameLeft {
    background-color: red;
}
#gameRight {
    background-color: red;
}
#gameCenter {
    background-color: yellow;
}
#top {
    background-color: green;
}
#middle {
    background-color: blue;
}
#bottom {
    background-color: green;
}
#bottomName {
    background-color: blue;
}
#leftName {
    background-color: brown;
}
#leftCards {
    background-color: yellow;
}
#leftCC {
    background-color: blue;
}
#leftCardsN {
    background-color: orange;
}
#leftCreepers {
    background-color: green;
    color: white;
}
#leftKeepers {
    background-color: blueviolet;
}
#topName {
    background-color: blue;
}
#topCC {
    background-color: violet;
}
#topCardsN {
    background-color: brown;
}
#topCreepers {
    background-color: green;
    color: white;
}
#topKeepers {
    background-color: red;
}
#ddg {
    background-color: chartreuse;
}
#discard {
    background-color: black;
    color: white;
}
#deck {
    background-color: red;
}
#goal {
    background-color: grey;
}
#rules {
    background-color: blueviolet;
}
#bottomKeepers {
    background-color: red;
}
#bottomCC {
    background-color: grey;
}
#bottomCardsN {
    background-color: purple;
}
#bottomCreepers {
    background-color: green;
    color: white;
}
#playsLeft {
    background-color: blue;
}
#rightName {
    background-color: green;
}
#rightCards {
    background-color: blue;
}
#rightKeepers {
    background-color: purple;
}
#rightCC {
    background-color: yellow;
}
#rightCreepers {
    background-color: green;
    color: white;
}
#rightCardsN {
    background-color: orange;
}
#bLeft {
    background-color: grey;
}
#bRight {
    background-color: grey;
}
#handCards {
    background-color: yellow;
} */