html {
    min-height: 100%;
    height: 100%;
}

body{
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    min-height: 100%;
}

#left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 10%;
}
#center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 80%;
}
#right {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}
#sidenav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 21%;
}
#log {
    flex-basis: 79%;
}
#game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 88%;
}
#gameLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 30%;
}
#leftCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#leftCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#leftCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#leftKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#gameCenter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 40%;
}
#top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#topCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#topCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#topKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#ddg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#rules {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#bottomKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#bottomCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#bottomCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#gameRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 30%;
}
#rightCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#rightKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#rightCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#rightCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#hand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 12%;
}
#handCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#chat {
    flex-basis: 100%;
}

/* TEMPORARY COLORS */
#sidenav {
    background-color: coral;
}
#log {
    background-color: aquamarine;
}
#gameLeft {
    background-color: red;
}
#gameRight {
    background-color: red;
}
#gameCenter {
    background-color: yellow;
}
#top {
    background-color: green;
}
#middle {
    background-color: blue;
}
#bottom {
    background-color: green;
}
#leftName {
    background-color: brown;
}
#leftCards {
    background-color: yellow;
}
#leftCC {
    background-color: blue;
}
#leftCardsN {
    background-color: orange;
}
#leftCreepers {
    background-color: black;
    color: white;
}
#leftKeepers {
    background-color: blueviolet;
}
#topName {
    background-color: yellow;
}
#topCC {
    background-color: violet;
}
#topCardsN {
    background-color: brown;
}
#topCreepers {
    background-color: black;
    color: white;
}
#topKeepers {
    background-color: red;
}
#ddg {
    background-color: chartreuse;
}
#discard {
    background-color: black;
    color: white;
}
#deck {
    background-color: red;
}
#goal {
    background-color: grey;
}
#rules {
    background-color: blueviolet;
}
#bottomKeepers {
    background-color: red;
}
#bottomCC {
    background-color: grey;
}
#bottomCardsN {
    background-color: purple;
}
#bottomCreepers {
    background-color: black;
    color: white;
}
#playsLeft {
    background-color: blue;
}
#rightName {
    background-color: green;
}
#rightCards {
    background-color: blue;
}
#rightKeepers {
    background-color: purple;
}
#rightCC {
    background-color: yellow;
}
#rightCreepers {
    background-color: black;
    color: white;
}
#rightCardsN {
    background-color: orange;
}
#hand {
    background-color: black;
}
#bLeft {
    background-color: grey;
}
#bRight {
    background-color: grey;
}
#handCards {
    background-color: yellow;
}
#chat {
    background-color: yellowgreen;
}