/* GENERAL */
body {
    margin: 0;
    padding: 0;
}
div.bg{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    width: 100vw;
    height: 100vh;
}
/* END OF GENERAL */


/* BACKGROUNDS */
div.index{
    background-image: url("../media/img/indexBackground.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    background-position: center; 
}
/* END OF BACKGROUNDS */


/* INDEX */
div.firstBackground{
    height: 100vh;
}

div.secondBackground {
    background-image: url("../media/img/black.jpeg");
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    background-position: center; 
}

div.indexBoxOne {
    padding-top: 86vh;
    opacity: 1;
}

div.indexBoxOneText{
    background-color: #4DC3FB ;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: background-color 0.8s;
}
  
div.indexBoxOneText:hover{
    background-color: rgb(233, 218, 18);
    color: black;
    transition: background-color 0.8s;
}
  
div.indexBoxTwo {
    opacity: 1;
    margin-left: 2.5%;
    margin-right:2.5%;
    width: 95%;
    padding-top: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
div.indexBoxTwo a {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10vh; */
    padding: 5vh;
    text-decoration: none;
    border-radius: 200px;
    background-color: #4DC3FB;
    color: white;
    transition: background-color 0.8s;
    margin-top: 2vh;
    font-size: 5vw;
}
  
div.indexBoxTwo a:hover{
    background-color: rgb(233, 218, 18);
    color: black;
    border-radius: 200px;
    transition: background-color 0.8s;
}
/* END OF INDEX */