/* DIMENSIONS */
img {
    height: 100px;
    margin: 5px;
}
body {
    text-align: center;
    font-size: 26px;
}
img.arrow{
    height: 86px;
}
#deck {
    position: relative;
    top: -71%;
    left: 1.5%;
}
#log {
    margin: 4%;
    text-align: left;
    font-size: 16px;
}
/* FLEX, MARGINS AND HEIGHTS */
html {
    max-height: 100vh;
    height: 100%;
}
body{
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    min-height: 100%;
}
#left {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}
#center {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}
#right {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
}
#sidenav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 21%;
    min-height: 21%;
    justify-content: space-evenly;
}
/* #log {
    flex-basis: 79%;
} */
#game {
    display: flex;
    flex-direction: row;
    flex-basis: 86.5%;
}
#gameLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: center;
}
#leftCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#leftCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}
#leftCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 77.5px;
    height: 330px;
}
#leftKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 550px;
    width: 155px;
    justify-content: center;
    align-items: flex-start;
}
#gameCenter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: center;
}
#top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#topCC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
#topCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 110px;
    width: 232.5px;
}
#topKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 110px;
    width: 697.5px;
}
#middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
#ddg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 110px;
}
#draw, #play, #discard, #deckimg, #goal {
    height: 110px;
    width: 77.5px;
}
#rules {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 110px;
    width: 620px;
}
#bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#bottomKeepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 110px;
    width: 697.5px;
}
#bottomCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 110px;
}
#bottomCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 110px;
    width: 232.5px;
}
#bottomName, #playsLeft {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5%;
    width: 200px;
    justify-content: center;
}
#gameRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: center;
}
#rightCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#rightKeepers {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    height: 550px;
    width: 155px;
    justify-content: center;
    align-items: flex-start;
}
#rightCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}
#rightCreepers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 77.5px;
    height: 330px;
}
#hand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 13.5%;
    justify-content: space-between;
}
#handCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center; 
    overflow: scroll;
}
#chat {
    flex-basis: 100%;
}
#void {
    padding-left: 25px;
}
#leftName, #rightName, #leftCardsN, #rightCardsN{
    padding: 1%;
    padding-bottom: 0%;
}
#leftName, #rightName {
    margin-bottom: 2%;
}
#topCardsN {
    display: flex;
    align-items: center;
    height: 110px;
    margin-right: 2%;
}
#leftCardsN, #topCardsN, #rightCardsN, #bottomCardsN {
    font-size: 22px;
}
#bottomName, #playsLeft {
    width: 150px;
}
#bRight, #bLeft {
    display: flex;
    align-items: center;
}
div#log {
    height: 79vh;
    overflow: scroll;
}
.actualLog{
    height: 79vh;
    max-height: 79vh;
    overflow: scroll;
}

.bigWin{
    background-color: green;
    font-size: 400px;
    color: red;
}

/* LITTLE RESSPONSITIVITY */
@media (max-width: 1600px){
    body {
        min-width: 1280px;
        overflow: scroll;
        font-size: 22px;
    }
    img {
        height: 80px;
        margin: 3px;
    }
    #topCardsN {
        height: 86px;
    }
    #leftCC {
        width: 80px;
    }
    #leftCreepers {
        width: 61.5px;
        height: 258px;
    }
    #leftKeepers {
        height: 430px;
        width: 123px;
    }
    #topCreepers {
        height: 86px;
        width: 184.5px;
    }
    #topKeepers {
        height: 86px;
        width: 540px;
    }
    #ddg {
        height: 86px;
    }
    #draw, #play, #discard, #deckimg, #goal {
        height: 86px;
        width: 61.5px;
    }
    #rules {
        height: 86px;
        width: 480px;
    }
    #bottomKeepers {
        height: 86px;
        width: 540px;
    }
    #rightCC {
        width: 80px;
    }
    #rightCreepers {
        width: 61.5px;
        height: 258px;
    }
    #rightKeepers {
        height: 430px;
        width: 123px;
    }
    #middle {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    #leftCardsN, #topCardsN, #rightCardsN, #bottomCardsN {
        font-size: 18px;
    }
}

/* TEMPORARY COLORS */
body {
    background-color: ivory;
}
#hand {
    background-color: rgb(247, 181, 247);
}
#sidenav {
    background-color: coral;
}
#left {
    background-color: lightblue;
}
#chat {
    background-color: lightblue;
}
#leftCreepers, #topCreepers, #rightCreepers, #bottomCreepers{
    background-color: rgba(0, 0, 0, 0.1);
}
#leftKeepers, #topKeepers, #rightKeepers, #bottomKeepers{
    background-color: rgba(30, 255, 0, 0.1);
}
#draw, #play, #rules{
    background-color: rgba(255, 251, 0, 0.1);
}
#discard, #deckimg{
    background-color: rgba(0, 81, 255, 0.1);
}
#goal{
    background-color: rgba(255, 0, 200, 0.1);
}
/* #bLeft {
    background-color: grey;
}
#bRight {
    background-color: grey;
}
#handCards {
    background-color: yellow;
} */
/* #bottom {
    background-color: green;
}
#bottomKeepers {
    background-color: red;
}
#bottomCC {
    background-color: grey;
}
#bottomName {
    background-color: blue;
}
#playsLeft {
    background-color: purple;
}
#bottomCreepers {
    background-color: green;
    color: white;
} */
/* #topKeepers {
    background-color: red;
}
#top {
    background-color: green;
} */
/* #gameLeft {
    background-color: red;
}
#gameRight {
    background-color: red;
}
#gameCenter {
    background-color: yellow;
}
#middle {
    background-color: blue;
}
#leftName {
    background-color: brown;
}
#leftCards {
    background-color: yellow;
}
#leftCC {
    background-color: blue;
}
#leftCardsN {
    background-color: orange;
}
#leftCreepers {
    background-color: green;
    color: white;
}
#leftKeepers {
    background-color: blueviolet;
}
#topName {
    background-color: blue;
}
#topCC {
    background-color: violet;
}
#topCardsN {
    background-color: brown;
}
#topCreepers {
    background-color: green;
    color: white;
}
#ddg {
    background-color: chartreuse;
}
#discard {
    background-color: black;
    color: white;
}
#deck {
    background-color: red;
}
#goal {
    background-color: grey;
}
#rules {
    background-color: blueviolet;
}
#playsLeft {
    background-color: blue;
}
#rightName {
    background-color: green;
}
#rightCards {
    background-color: blue;
}
#rightKeepers {
    background-color: purple;
}
#rightCC {
    background-color: yellow;
}
#rightCreepers {
    background-color: green;
    color: white;
}
#rightCardsN {
    background-color: orange;
} */